/* :root{
    nav bar bg #31343D
    nav bar text #92CCCD
    background #EDEEF6
    vertical divider #445877
    hero text #313641
    header text #445877
} */

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Nav bars CSS */
header nav{
    display: flex;
    flex-direction: row;
    background-color: #31343D;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header nav h1{
    color: #31343D;
    background-color: #92CCCD;
    padding: 0px 5px 0px 40px;
    font-weight: bold;
    font-size: 35px;
    float: left;
    margin-left: 0px;
}

header nav ul{
    float: right;
    margin-right: 20px;
}

header nav ul li{
    display: inline-block;
    margin: 0 5px;
}

header nav ul li a{
    text-decoration: none;
    color: #92CCCD;
    font-size: 20px;
    padding: 7px 13px;
    border-bottom: 2px solid #92CCCD;
}

header nav ul li a:hover{
    border-bottom: none;
}





/* Main grid CSS */
#grid-container{
    display: grid;
    background-color: #eee;
    width: 100%;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat (4, 1fr);
    grid-template-areas:
    "HeroBanner HeroBanner"
    "AboutMeHeading AboutMeContent"
    "MyWorkHeading MyWorkContent"
    "ContactMeHeading ContactMeContent";
}

#hero-banner{
    grid-area: HeroBanner;
}

#about-me-heading{
    grid-area: AboutMeHeading;
}

#about-me-content{
    grid-area: AboutMeContent;
}

#my-work-heading{
    grid-area: MyWorkHeading;
}

#my-work-content{
    grid-area: MyWorkContent;
}

#contact-me-heading{
    grid-area: ContactMeHeading;
}

#contact-me-content{
    grid-area: ContactMeContent;
}

.section-heading{
    text-align: right;
}

#grid-container div{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid #777;
}




/* Hero banner CSS */
#hero-banner{
    background-image: url(images/02-hero-bg.jpg);
}

#hero-banner h3{
    color: #31343D;
    background-color: #92CCCD;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
    font-size: 25px;
    float: right;
    position: relative;
    top: 30px;
}

/* Nested grid CSS */
#my-work-content{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 20% 20%;
    grid-template-areas:
    "SurfReport SurfReport"
    "LEDWall Calculator"
    "PastelPuzzles RunBuddy";
}

#project1{
    grid-area: SurfReport;
    background-image: url(images/02-portfolio-4.jpg);
}
#project2{
    grid-area: LEDWall;
    background-image: url(images/02-portfolio-1.jpg)
}   
#project3{
    grid-area: Calculator;
    background-image: url(images/02-portfolio-2.jpg)
}
#project4{
    grid-area: PastelPuzzles;
    background-image: url(images/02-portfolio-3.jpg)
}
#project5{
    grid-area: RunBuddy;
    background-image: url(images/02-run-buddy.jpg)
}

/* My Work CSS styling */
#my-work-content .cards{
    border: 4px solid #92CCCD;
}

#my-work-content .cardTitles{
    background-color: #92CCCD;
    padding: 2px 0px 2px 20px;
    border: none;
    max-height: 50px;
    position: relative;
    bottom: px;
}

